// STYLES COLOR VARIABLES GUIDE
$primary-purple: #552583;
$secondary-purple: rgba(128, 99, 156, 40);
$secondary-golden: #FDB927;
$black-color: #080808;
$white-color: #f1f1f1;

// GAPS VARIABLES GUIDE
$large-gap: 24px;
$small-gap: 8px;